* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
  height: 100vh;
  background-color: rgb(49, 49, 49);
}
.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
